<h1>Dorothy Configuration</h1>

<body>

<div id='content'>
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="Path" placeholder="Enter Dorothy path">
  </div>
  <div class="form-group">
    <label for="Hostname">Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Checkbox
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</body>


