<h1>Network Traffic Analysis</h1>

<!DOCTYPE HTML>
<html lang="en-EN">
<head>
  <meta charset="UTF-8">
  <title>Hexdump.js</title>
  <link rel="stylesheet" type="text/css" href="/hexdump.css" media="all">

  <script type="text/javascript" src="/jquery.js"></script>
  <script type="text/javascript" src="/jquery-ui.js"></script>
  <script type="text/javascript" src="/hexdump-min.js"></script>
  <script type="text/javascript" src="/demo.js"></script>

</head>

<body>
<pre id="hexdump"></pre>

<script type="text/javascript">
    var payload = <%=  @cont.inspect  %> ;

    new Hexdump(payload, {
        container: 'hexdump'
        , base: 'hex'
        , width: 8
        , ascii: true
        , byteGrouping: 1
        , html: true
        , lineNumber: true
        , style: {
            lineNumberLeft: ''
            , lineNumberRight: ':'
            , stringLeft: '|'
            , stringRight: '|'
            , hexLeft: ''
            , hexRight: ''
            , hexNull: '.g'
            , nonPrintable: '.'
            , stringNull: '.'
        }
    });
</script>
</body>
</html>

