#############################################
### DOROTHY SANDBOX LIST                    #
#############################################
###
###
### List of the available virtual machines
### (loaded into ESX)
### WARNING - after editing this file, run
### $dorothy_start -sandbox reload
#############################################
---
WinXP1:
  password: password
  ipaddress: 192.168.187.130
  username: billy
  os_lang: eng
  os: Windows
  version: XP SP2
  type: virtual

